.teamListContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.teamContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 1.5rem 3rem 1.5rem 3rem;
    margin: 1rem;
    background-color: rgba(0,0,0,0.8);
    color: white;
    font-size: 2rem;
    border-radius: 15px;
    width: 15rem;
    height: 30rem;
}

.teamCrest {
    height: 20rem;
    max-width: 14rem;
}

.button {
    color: white;
    background-color: black;
    border-radius: 15px;
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    margin: 0.8rem;
    margin-top: 1.2rem;
    font-size: 1.2rem;
}

.arrowButton {
    color: white;
    background-color: rgba(0,0,0,0.8);
    border-radius: 50%;
    font-size: 1.5rem;
    align-self: center;
    padding: 1.2rem;
    border-width: 0px;
    font-weight: bold;
    justify-content: center;
}