.matchRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(0,0,0, 0.8);
    margin: 0.5rem;
    padding: 3rem;
    border-radius: 15px;    
}

.playerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(0,0,0, 0.8);
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 15px;    
}

.matchRow div,label {
    flex-basis: 33%;
    text-align: center;
}

.playerRow :first-child {
    flex-basis:10%;
    text-align:center
}
.playerRow label {
    flex-basis: 70%;
    text-align: left;
}
.playerRow :last-child {
    flex-basis: 20%;
    text-align:center;
    
}

.matchesContainer {
    padding: 0 5rem 0 5rem;
}

.squadScreenContainer {
    display: flex;
    flex-direction: row;
}

.squadScreenComponent {
    flex-basis: 50%;
    margin: 2rem;
}

.squadScreenBackground {
    background-color:rgba(0,0,0, 0.5);    
    
}

.goHome {
    color: white;
    font-size: 1rem;
    padding: 1rem;
}